.err {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.pageErr {
  width: 60%;
}
.pageErr img {
  width: 50%;
  /* margin: 0 25%; */
}
