.home {
  /* position: relative; */
  width: 90%;
  margin: 0 5%;
  /* background-color: red; */
  /* height: calc(100vh - 60px); */
  /* text-align: center; */
  /* margin-top: 40px; */
  /* border: 2px solid rgb(187, 187, 187); */
  border-top: none;
  float: left;
  font-family: "Open Sans", sans-serif;
}
.home .propContent {
  width: 90%;
  margin: 0 5%;
}
.home .pic {
  height: 200px;
}
.onSale {
  font-size: 30px;
  width: 100%;
  float: left;
}
.PropSale {
  width: 90%;
  margin: 2% 5%;
}
@media screen and (max-width: 1000px) {
  .onSale {
    font-size: 20px;
  }
}
